<div class="d-flex justify-content-center">
    <div class="d-flex flex-column align-items-center">
        <div class="main-content">
            <div class="container-fluid">
                <div class="card">
                    <div class="card-header card-header-danger" >
                        <h3>Masuk</h3>
                    </div>
                    <div class="d-flex justify-content-center mt-3 mb-3">
                        <img src="../../assets/img/logo.jpg" class="card-img-top logo">
                    </div>
                    <div class="card-body">
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Username" #username required>
                        </mat-form-field>
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Password" type="password" #password required>
                        </mat-form-field>
                    </div>
                    <div class="card-footer">
                        <button mat-stroked-button color="accent" class="btn-block" (click)="authService.signIn(username.value, password.value)">Masuk</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- <div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>Masuk</mat-card-title>
      </mat-card-header>
      <form class="example-form">
        <mat-card-content>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Username" class="formControl" #username required>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Password" type="password" class="formControl" #password required>
          </mat-form-field>
        </mat-card-content>
        <button mat-stroked-button color="accent" class="btn-block" (click)="authService.signIn(username.value, password.value)">Masuk</button>
      </form>
    </mat-card>
  </div> -->