<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-danger card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">admin_panel_settings</i>
                        </div>
                        <p class="card-category">Jumlah Admin</p>
                        <h3 class="card-title">{{ jumlahAdmin }} <small>orang</small></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-success card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">fact_check</i>
                        </div>
                        <p class="card-category">Jumlah Verifikator</p>
                        <h3 class="card-title">{{ jumlahVerifikator }} <small>orang</small></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-warning card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">edit_location</i>
                        </div>
                        <p class="card-category">Jumlah Surveyor</p>
                        <h3 class="card-title">{{ jumlahSurveyor }} <small>orang</small></h3>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div>