<div class="main-content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header card-header-danger">
                <h3 class="card-title">Selamat Datang</h3>
            </div>
            <div class="card-body">
                <p class="card-text">Anda berada di halaman ini karena admin belum memberikan hak akses apapun terhadap Anda, silahkan konfirmasi ke Admin.</p>
                <!-- <p class="card-text">Silahkan klik tombol di bawah untuk perbarui data ya.</p>
                <a class="nav-link" routerLink="/update-user">Perbarui</a> -->
                <button mat-raised-button class="btn btn-danger" (click)="logout()">Keluar</button>
            </div>
        </div>
    </div>
</div>